.cuenta{
    label{
    width: 850px;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 24px;
    color:black;
    text-align: center;
    }
    input{
        font-size: 24px;
        border-radius: 15px;
        border: none;
        background-color: #D9D9D9;
        padding: 20px;
        width: 600px;
        margin-bottom: 50px;
    }
    button{
        font-size: 24px;
    }
}